{% extends "base.html" %}

{% load leaflet_tags %}
{% load static %}

{% block content %}
  <form class="form-row" action="{% url 'indexlist' %}" method="POST">
    {% for field in form %}
      <div class="col-12 col-lg-3 my-2">
          {{ field }}
          <div class="invalid-feedback">1{{ field.errors }}</div>
      </div>
    {% endfor %}
    <div class="col-12 col-lg-3 my-2 text-center">
      <button class="btn btn-primary" type="submit">Найти</button>
    </div>
  </form>
  {% for place in place_list %}
    {% include "components/place_card_mini.html" %}
  {% endfor %}
{% endblock %}