{% extends "base.html" %}

{% load leaflet_tags %}

{% block content %}
  <div class="h4 mt-3 mb-1">Добавить новое место</div>
  <div class="row mb-4">
    <div class="col-12 col-lg-6 offset-lg-3">
      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
              {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
              <small id="{{ field.id_for_label }}HelpBlock" class="form-text text-muted">
                {{ field.help_text|safe }}
              </small>
            {% endif %}
            {% if field.errors %}
              <div class="invalid-feedback">
              {{ field.errors }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <div class="d-flex justify-content-around">
          <button class="btn btn-success" type="submit">Добавить</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block extra_css %}
   {% leaflet_css plugins="forms" %}
{% endblock %}

{% block extra_js %}
   {% leaflet_js plugins="forms" %}
{% endblock %}