{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}
{% load l10n %}
{% block content %}
<div class="card mt-2" style="overflow: hidden;">
  <div class="row no-gutters">
    <div class="col-12 col-lg-8">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-end">
          <div class="m-0"><span class="h3">{{ place.title }}</span> <small class="text-muted text-lowercase">{{ place.type_place.title }}</small></div>
          <div>
            {% if place in user.profile.like_place.all %}
              <a href="{% url 'action_user_place' place.id 'unlike' %}" class="btn btn-outline-danger mki-grande" title="Удалить из избранного">&#xe08c;</a>
            {% else %}
              <a href="{% url 'action_user_place' place.id 'like' %}" class="btn btn-outline-secondary mki-grande" title="Добавить в избранное">&#xe08c;</a>
            {% endif %}
            {% if place in user.profile.done_place.all %}
              <a href="{% url 'action_user_place' place.id 'undone' %}" class="btn btn-outline-success mki-grande" title="Снять отметку о посещении">✔</a>
            {% else %}
              <a href="{% url 'action_user_place' place.id 'done' %}" class="btn btn-outline-secondary mki-grande" title="Отметить посещённым">✔</a>
              {% if place in user.profile.want_place.all %}
                <a href="{% url 'action_user_place' place.id 'unwant' %}" class="btn btn-outline-warning mki-grande" title="Убрать из хотелок">&#xe07a;</a>
              {% else %}
                <a href="{% url 'action_user_place' place.id 'want' %}" class="btn btn-outline-secondary mki-grande" title="Хочу посетить">&#xe07a;</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 col-lg-6">
            <p class="card-text">
              <span>Начало маршрута:</span><br>
              <span class="ml-3">{{ place.city.title }}</span>
            </p>
            <p class="card-text">
              Район:
              {% for district in place.district.all %}
                <br><span class="ml-3">{{ district.title }}</span>
              {% endfor %}
            </p>
            <p class="card-text">
              <span>Регион:</span><br>
                <span class="ml-3">{{ place.region.title }}</span>
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <p class="card-text">
              <span>Скачать все треки</span><br>
                <span class="ml-3"><a href="{% url 'getallroute' place.pk 'gpx' %}">GPX</a>, <a href="{% url 'getallroute' place.pk 'kml' %}">KML</a></span>
            </p>
            <p class="card-text">
              <span>Это место на:</span><br>
                <span class="ml-3"><a href="https://www.wikidata.org/wiki/Special:GoToLinkedPage/ruwiki/{{ place.wd_id }}">Википедии</a></span>
            </p>
          </div>
        </div>
        <div>
          {% if place.tags.all %}
            <p class="card-text text-muted"><small>{% for tag in place.tags.all %}<a href="#" class="">{{ tag }}</a> {% endfor %}</small></p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4"><img style="width: 100%;" src="{{ place.image.mini }}"></div>
  </div>
</div>

<div class="mt-2">
  {% leaflet_map "minimap" callback="window.map_init_basic" %}
</div>

{% endblock %}
{% block extra_css %}
  {% leaflet_css %}
{% endblock %}
{% block extra_js %}
  {% leaflet_js plugins="icon" %}
  <script type="text/javascript">
    window.addEventListener("map:init", function (e) {

        var place_icon = L.icon.mapkey({icon: '{{ place.type_place.icon }}', color: 'black', background:'rgba(255,255,255,0.8)', size:30, hoverScale: 1.1}),
            city_icon = L.icon.mapkey({icon: 'village', color: 'black', background:'rgba(255,255,255,0.8)', size:30, hoverScale: 1.1}),
            home_icon = L.icon.mapkey({icon: 'home', color: 'black', background:'rgba(255,255,255,0.8)', size:30, hoverScale: 1.1}),
            coord_place = {{ place.get_jsoncoord }},
            coord_city = {{ place.city.get_jsoncoord }},
            map = e.detail.map.fitBounds([ coord_place, coord_city  ]);
        {% if user.is_authenticated %}
          json = fetch('http://127.0.0.1:5000/route/v1/driving/{{ place.city.get_coord.0.0|unlocalize }},{{ place.city.get_coord.0.1|unlocalize }};{{ user.profile.city.get_coord.0.0|unlocalize }},{{ user.profile.city.get_coord.0.1|unlocalize }}?geometries=geojson&overview=full')
          .then(response => response.json())
          .then(data => data['routes'][0])
          .then(data => L.polyline(
            data['geometry']['coordinates'].map(
              function(el, i, arr) {
                return  [arr[i][1], arr[i][0]];
              }), 
            {color: 'green'}).addTo(map).bindPopup(
            '<div class="text-center font-weight-bold h6">Из {{ user.profile.city.title }} до {{ place.city.title }}</div> \
            <b>Тип:</b> автомобильный<br> \
            <b>Длина:</b> ' + Math.round(data['distance'] / 10) / 100 + ' км<br>'
            ))
        {% endif %}

        {% for linestring in place.route_set.all %}
          L.polyline({{ linestring.get_jsoncoord }}, {color: 'red'}).addTo(map).bindPopup(
            '<div class="text-center font-weight-bold h6">{{ linestring.rt_title }}</div> \
            <b>Тип:</b> {{ linestring.get_rt_type_display }}<br> \
            <b>Начало:</b> {{ linestring.rt_from }}<br> \
            <b>Длина:</b> {{ linestring.rt_length }} км<br> \
            <b>Скачать:</b> <a href="{% url 'getroute' linestring.pk 'gpx' %}">GPX</a>, <a href="{% url 'getroute' linestring.pk 'kml' %}">KML</a> \
            <div class="text-center font-weight-bold"><a href="{% url 'route' linestring.pk %}">Подробности</a></div>'
            );
        {% endfor %}

        L.marker( coord_place, { icon: place_icon } ).addTo(map).bindPopup('{{ place.title }}').openPopup();
        L.marker( coord_city, { icon: city_icon } ).addTo(map).bindPopup('{{ place.city.title }}');
        {% if user.is_authenticated %}
        L.marker( {{ user.profile.city.get_jsoncoord }}, { icon: home_icon } ).addTo(map).bindPopup('{{ user.profile.city.title }}');  
        {% endif %}

    }, false);
  </script>
{% endblock %}
