{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}
{% load l10n %}
{% block content %}
<div class="card mt-2" style="overflow: hidden;">
  <div class="row no-gutters">
    <div class="col-12 col-lg-8">
      <div class="card-body pb-1 h-100 d-flex flex-column">
        <div class="d-flex justify-content-between align-items-end border-bottom mb-2 pb-2">
          <div class="m-0">
            <span class="h3"><span class="mki-intext mki-{{ place.type_place.icon }}" title="{{ place.type_place.title }}"></span> {{ place.title }}</span> 
            {% if place.title_alt %}
              <small class="text-muted ">({{ place.title_alt }})</small>
            {% endif %}
          </div>
          <div>
            {% if place in user.profile.like_place.all %}
              <a href="{% url 'user:action_user_place' place.id 'unlike' %}" class="btn btn-outline-danger mki-grande" title="Удалить из избранного">&#xe08c;</a>
            {% else %}
              <a href="{% url 'user:action_user_place' place.id 'like' %}" class="btn btn-outline-secondary mki-grande" title="Добавить в избранное">&#xe08c;</a>
            {% endif %}
            {% if place in user.profile.done_place.all %}
              <a href="{% url 'user:action_user_place' place.id 'undone' %}" class="btn btn-outline-success mki-grande" title="Снять отметку о посещении">✔</a>
            {% else %}
              <a href="{% url 'user:action_user_place' place.id 'done' %}" class="btn btn-outline-secondary mki-grande" title="Отметить посещённым">✔</a>
              {% if place in user.profile.want_place.all %}
                <a href="{% url 'user:action_user_place' place.id 'unwant' %}" class="btn btn-outline-warning mki-grande" title="Убрать из хотелок">&#xe07a;</a>
              {% else %}
                <a href="{% url 'user:action_user_place' place.id 'want' %}" class="btn btn-outline-secondary mki-grande" title="Хочу посетить">&#xe07a;</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="d-flex flex-wrap h-100">
          <div class="flex-fill">
            <p>
              <span>Начало маршрута:</span><br>
              <span class="ml-3">{{ place.city.title }}</span>
            </p>
            <p>
              <span>Местоположение:</span><br>
              <span class="ml-3">{{ place.district.all.0 }}, {{ place.region.title }}</span>
            </p>
          </div>
          <div class="flex-fill">
            <p>
              <span>Посмотреть в других источниках:</span><br>
                <span class="ml-3">
                  {% if place.wd_id %}
                    <a href="{{ place.get_wd_link }}" title="Википедия"><img src="{% static 'icons/wikipedia.png' %}"></a>
                  {% endif %}                    
                  {% if place.ig_id %}
                    <a href="{{ place.get_ig_link }}" title="Инстаграм"><img src="{% static 'icons/instagram.png' %}"></a>
                  {% endif %}
                </span>
            </p>
          </div>
        </div>
        {% if place.tags.all or user.is_superuser %}
          <div class="d-flex flex-wrap w-100 border-top mt-1">
            {% if place.tags.all %}
              <div class="flex-fill small text-muted">Теги: {% for tag in place.tags.all %}<a href="#" class="">{{ tag }}</a> {% endfor %}</div>
            {% endif %}
            {% if user.is_superuser %}
              <div class="flex-fill small text-right" ><a class="text-muted" href="{% url 'index:place_edit' place.pk %}">Редактировать</a></div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-lg-4">  
      {% if place.image %} 
        <img src="{{ place.image.mini }}" class="rounded w-100 h-auto" alt="{{ place.title }}" title="{{ place.title }}">
      {% else %}
        {% load static %}
        <img src="{% static 'no_image.jpg' %}" class="rounded w-100 h-auto" alt="{{ place.title }}" title="{{ place.title }}">
      {% endif %}
    </div>
  </div>
</div>

<div class="h4 mt-5 border-bottom">Участники</div>
<div class="d-flex justify-content-center">
  <div class="col-lg-5 p-2">
    <div class="border-bottom border-right p-2 h-100">
      <div class="h5">Посетили</div>
      <div class="row mx-1">
        {% for profile in place.done_place.all %}
          <div class="p-1 col-2">
            {% include "user/user_mini.html" %}
          </div>
        {% endfor %}
      </div>
      <p class="text-right small m-0"><a href="#">Весь список ({{ place.done_place.count }}) →</a></p>
    </div>
  </div>
  <div class="col-lg-5 p-2">
    <div class="border-bottom border-right p-2 h-100">
      <div class="h5">Хотят посетить</div>
      <div class="row mx-1">
        {% for profile in place.want_place.all %}
          <div class="p-1 col-2">
            {% include "user/user_mini.html" %}
          </div>
        {% endfor %}
      </div>
      <p class="text-right small m-0"><a href="#">Весь список ({{ place.want_place.count }}) →</a></p>
    </div>
  </div>
</div>

<div class="h4 mt-5">Маршруты</div>
<table class="table table-sm active-target" id="routes">
  <thead>
    <tr class="text-center">
      <th scope="col">Тип</th>
      <th scope="col">Название</th>
      <th scope="col">Начало</th>
      <th scope="col">Длина</th>
      <th scope="col">Высота (мин./макс.)</th>
      <th scope="col">Набор / потеря высоты</th>
      <th scope="col">Скачать</th>
    </tr>
  </thead>
  <tbody>
  {% for route in place.route_place.all %}
    <tr class="text-center active-target" id="route_{{ route.pk }}">
      <td>{% if route.rt_type == 'a' %}
        <span class='mki-grande mki-car'></span>
      {% endif %}</td>
      <td class="text-left">{{ route.rt_title }}</td>
      <td>{{ route.rt_from }}</td>
      <td>{{ route.rt_length }} км</td>
      <td>{{ route.rt_min_el }} / {{ route.rt_max_el }}</td>
      <td>+{{ route.rt_el_gain}} / -{{ route.rt_el_loss}}</td>
      <td><a href="{% url 'index:route_get' route.pk 'gpx' %}">GPX</a>, <a href="{% url 'index:route_get' route.pk 'kml' %}">KML</a></td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr class="text-center">
      <td colspan="3" class="text-left"><a href="{% url 'index:route_create_pk' place.pk %}">Добавить</a></td>
      <td></td>
      <td></td>
      <td><b>Скачать все</b></td>
      <td><a href="{% url 'index:place_allroute_get' place.pk 'gpx' %}">GPX</a>, <a href="{% url 'index:place_allroute_get' place.pk 'kml' %}">KML</a></td>
    </tr>
  </tfoot>
</table>


<div class="mt-2">
  {% leaflet_map "minimap" callback="window.map_init_basic" %}
</div>

{% endblock %}
{% block extra_css %}
  {% leaflet_css %}
{% endblock %}
{% block extra_js %}
  {% leaflet_js plugins="icon" %}
  <script type="text/javascript">
    window.addEventListener("map:init", function (e) {

        var place_icon = L.icon.mapkey({icon: '{{ place.type_place.icon }}', color: 'black', background:'rgba(255,255,255,0.8)', size:30, hoverScale: 1.1}),
            city_icon = L.icon.mapkey({icon: 'village', color: 'black', background:'rgba(255,255,255,0.8)', size:30, hoverScale: 1.1}),
            home_icon = L.icon.mapkey({icon: 'home', color: 'black', background:'rgba(255,255,255,0.8)', size:30, hoverScale: 1.1}),
            coord_place = {{ place.get_jsoncoord }},
            coord_city = {{ place.city.get_jsoncoord }},
            map = e.detail.map.fitBounds([ coord_place, coord_city  ]);
        {% if user.is_authenticated %}
          json = fetch('{{ osrm_server }}/route/v1/driving/{{ place.city.get_coord.0.0|unlocalize }},{{ place.city.get_coord.0.1|unlocalize }};{{ user.profile.city.get_coord.0.0|unlocalize }},{{ user.profile.city.get_coord.0.1|unlocalize }}?geometries=geojson&overview=full')
          .then(response => response.json())
          .then(data => data['routes'][0])
          .then(data => L.polyline(
            data['geometry']['coordinates'].map(
              function(el, i, arr) {
                return  [arr[i][1], arr[i][0]];
              }), 
            {color: 'green'}).addTo(map).bindPopup(
            '<div class="text-center font-weight-bold h6">Из {{ user.profile.city.title }} до {{ place.city.title }}</div> \
            <b>Тип:</b> автомобильный<br> \
            <b>Длина:</b> ' + Math.round(data['distance'] / 10) / 100 + ' км<br>'
            ))
        {% endif %}

        {% for route in place.route_place.all %}
          L.polyline({{ route.get_jsoncoord }}, {color: 'red'}).addTo(map).bindPopup(
            '<div class="text-center font-weight-bold h6">{{ route.rt_title }}</div> \
            <b>Тип:</b> {{ route.get_rt_type_display }}<br> \
            <b>Начало:</b> {{ route.rt_from }}<br> \
            <b>Длина:</b> {{ route.rt_length }} км<br> \
            <div class="text-center font-weight-bold"><a href="#route_{{ route.pk }}">Перейти к таблице</a></div>'
            );
        {% endfor %}

        L.marker( coord_place, { icon: place_icon } ).addTo(map).bindPopup('{{ place.title }}').openPopup();
        L.marker( coord_city, { icon: city_icon } ).addTo(map).bindPopup('{{ place.city.title }}');
        {% if user.is_authenticated %}
        L.marker( {{ user.profile.city.get_jsoncoord }}, { icon: home_icon } ).addTo(map).bindPopup('{{ user.profile.city.title }}');  
        {% endif %}

    }, false);
  </script>
{% endblock %}
