{% extends "base.html" %}

{% load leaflet_tags %}

{% block content %}
  <div class="h4 mt-3 mb-1">{{ view.title_page }}</div>
  <div class="row mb-4">
    <div class="col-12 col-lg-6 offset-lg-3">
      {% include "components/form_errors.html" %}
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          {% include "components/form_field.html" %}
        {% endfor %}
        <div class="d-flex justify-content-around">
          <button class="btn btn-secondary" type="submit" name="_addroute">Сохранить и добавить маршрут</button>
          <button class="btn btn-success" type="submit" name="_save">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block extra_css %}
   {% leaflet_css plugins="forms" %}
{% endblock %}

{% block extra_js %}
   {% leaflet_js plugins="forms" %}
{% endblock %}