{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-12 col-lg-6 offset-lg-3 mt-5">
    {% include "components/form_errors.html" %}
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
        {% include "components/form_field.html" %}
      {% endfor %}
      {% for field in form2 %}
        {% include "components/form_field.html" %}
      {% endfor %}
      <div class="d-flex justify-content-around">
      <button class="btn btn-success " type="submit">Сохранить профиль</button>
      <a href="{% url 'user:password_change' %}" class="btn btn-success">Изменить пароль</a>
    </form>
  </div>
</div>
{% endblock %}