{% extends "base.html" %}

{% block content %}
  <div class="card mt-2" style="overflow: hidden;">
    <div class="row no-gutters">
      <div class="col-12 col-lg-8">
        <div class="card-body pb-1 h-100 d-flex flex-column">
          <div class="d-flex justify-content-between align-items-end border-bottom mb-2 pb-2">
            <div class="h4 m-0">@{{ user.username }}</div>
          </div>
          <div class="d-flex flex-wrap h-100">
            <div class="flex-fill">
              <p>
                <span>Имя:</span><br>
                <span class="ml-3">{{ user.first_name }}</span>
              </p>
              <p>
                <span>Город:</span><br>
                <span class="ml-3">{{ user.profile.city.title }}</span>
              </p>
            </div>
            <div class="flex-fill">
              {% if user.profile.like_place.all %}
                <p>
                  <span><a href="#likes">В избранном:</a></span><br>
                  <span class="ml-3">{{ user.profile.like_place.count }}</span>
                </p>
              {% endif %}
              {% if user.profile.done_place.all %}
                <p>
                  <span><a href="#dones">Посещено:</a></span><br>
                  <span class="ml-3">{{ user.profile.done_place.count }}</span>
                </p>
              {% endif %}
              {% if user.profile.want_place.all %}
                <p>
                  <span><a href="#wants">К посещению:</a></span><br>
                  <span class="ml-3">{{ user.profile.want_place.count }}</span>
                </p>
              {% endif %}
            </div>
          </div>
          {% if request.resolver_match.url_name == 'current_profile' %}
          <div class="d-flex flex-wrap border-top mt-1">
            <div class="flex-fill small text-right" ><a class="text-muted" href="{% url 'user:edit_profile' %}">Редактировать профиль</a></div>
          </div>
        {% endif %}
        </div>
      </div>
      <div class="col-12 col-lg-4">
        {% if user.profile.image %} 
          <img src="{{ user.profile.image.mini }}" class="rounded w-100 h-auto" alt="{{ user }}" title="{{ user }}">
        {% else %}
          {% load static %}
          <img src="{% static 'no_image.jpg' %}" class="rounded w-100 h-auto" alt="{{ user }}" title="{{ user }}">
        {% endif %}
      </div>
    </div>
  </div>


  <div class="row">
    {% if user.profile.like_place.all %}
    <div class="col-lg-4 p-2">
      <div id="likes" class="shadow-sm p-2 active-target">
        <div class="h5">Избранное</div>
        <div class="row mx-1">
          {% for place in user.profile.like_place.all %}
            <div class="p-1 col-2">
              {% include "components/place_mini.html" %}
            </div>
          {% endfor %}
        </div>
        <p class="text-right small m-0"><a href="{% if request.resolver_match.url_name == 'current_profile' %}{% url 'user:current_user_favor_place' 'likes' %}{% else %}{% url 'user:user_favor_place' user.id 'likes' %}{% endif %}">Весь список ({{ user.profile.like_place.count }}) →</a></p>
      </div>
    </div>
    {% endif %}
    {% if user.profile.done_place.all %}
    <div class="col-lg-4 p-2">
      <div id="dones" class="shadow-sm p-2 active-target">
        <div class="h5">Посещено</div>
        <div class="row mx-1">
          {% for place in user.profile.done_place.all %}
            <div class="p-1 col-2">
              {% include "components/place_mini.html" %}
            </div>
          {% endfor %}
        </div>
        <p class="text-right small m-0"><a href="{% if request.resolver_match.url_name == 'current_profile' %}{% url 'user:current_user_favor_place' 'dones' %}{% else %}{% url 'user:user_favor_place' user.id 'dones' %}{% endif %}">Весь список ({{ user.profile.done_place.count }}) →</a></p>
      </div>
    </div>
    {% endif %}
    {% if user.profile.want_place.all %}
      <div class="col-lg-4 p-2">
        <div id="wants" class="shadow-sm p-2 active-target">
          <div class="h5">К посещению</div>
          <div class="row mx-1">
            {% for place in user.profile.want_place.all %}
              {% if place.is_published %}
                <div class="p-1 col-2">
                  {% include "components/place_mini.html" %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <p class="text-right small m-0"><a href="{% if request.resolver_match.url_name == 'current_profile' %}{% url 'user:current_user_favor_place' 'wants' %}{% else %}{% url 'user:user_favor_place' user.id 'wants' %}{% endif %}">Весь список ({{ user.profile.want_place.count }}) →</a></p>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

